@use '@/styles/variables' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 16px;
  background: var(--color-bg);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;

  &:hover {
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
  }
}

.question {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.code {
  background: var(--color-text);
  color: var(--color-bg);
  padding: 12px;
  border-radius: 10px;
  font-size: 14px;
  overflow-x: auto;
  margin-bottom: 10px;
}

.hint {
  font-size: 13px;
  color: var(--color-text-muted);
  margin-bottom: 6px;
}

.options {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  display: flex;
  gap: 10px;
  align-items: center;

  padding: 12px;
  border-radius: 10px;
  cursor: pointer;

  background: var(--color-surface);
  border: 2px solid transparent;

  transition: all 0.2s ease;

  &:hover {
    background: var(--color-border);
  }
}

.selected {
  border: 2px solid var(--color-primary-purple);
  background: var(--color-secondary-purple);
}

.label {
  font-weight: 700;
  color: var(--color-primary-purple);
  min-width: 20px;
}
